In [1]:
#Load the dataset

import pandas as pd

 

dataset = pd.read_csv('hate_speech.csv') 

dataset.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [2]:
dataset.shape

dataset.label.value_counts()

label
0    3000
1    2242
Name: count, dtype: int64

In [3]:
import re

# Clean text from noise
def clean_text(text):
    # Filter to allow only alphabets and apostrophes
    text = re.sub(r"[^a-zA-Z']", ' ', text)
    # Remove Unicode characters
    text = re.sub(r'[^\x00-\x7F]+', ' ', text)
    # Convert to lowercase to maintain consistency
    text = text.lower()  
    return text  # Corrected indentation

In [4]:
dataset['clean_text'] = dataset.tweet.apply(lambda x: clean_text(x))

In [6]:
dataset.head(10)

,id,label,tweet,clean_text
0,1,0,@user when a father is dysfunctional and is s...,user when a father is dysfunctional and is s...
1,2,0,@user @user thanks for #lyft credit i can't us...,user user thanks for lyft credit i can't us...
2,3,0,bihday your majesty,bihday your majesty
3,4,0,#model i love u take with u all the time in ...,model i love u take with u all the time in ...
4,5,0,factsguide: society now #motivation,factsguide society now motivation
5,6,0,[2/2] huge fan fare and big talking before the...,huge fan fare and big talking before the...
6,7,0,@user camping tomorrow @user @user @user @use...,user camping tomorrow user user user use...
7,8,0,the next school year is the year for exams.ð...,the next school year is the year for exams ...
8,9,0,we won!!! love the land!!! #allin #cavs #champ...,we won love the land allin cavs champ...
9,10,0,@user @user welcome here ! i'm it's so #gr...,user user welcome here i'm it's so gr...

In [8]:
import re

def any_neg(words):
    for word in words:
        if word in ['n', 'no', 'non', 'not'] or re.search(r"\b\w*n't\b", word):
            return 1
    return 0

In [10]:
def any_rare(words, rare_100):
    for word in words:
        if word in rare_100:
            return 1
    return 0

In [12]:
def is_question(words):
    for word in words:
        if word in ['when', 'what', 'how', 'why', 'who', 'where']:
            return 1
    return 0

In [14]:
# 100 most rare words in the dataset
word_freq = gen_freq(dataset.clean_text.str)
rare_100 = word_freq[-100:]  # last 100 rows/words

# Number of words in a tweet
dataset['word_count'] = dataset.clean_text.str.split().apply(lambda x: len(x))

# Negation present or not
dataset['any_neg'] = dataset.clean_text.str.split().apply(any_neg)

# Prompt present or not
dataset['is_question'] = dataset.clean_text.str.split().apply(is_question)

# Any of the most 100 rare words present or not
dataset['any_rare'] = dataset.clean_text.str.split().apply(lambda x: any_rare(x, rare_100))

# Character count of the tweet
dataset['char_count'] = dataset.clean_text.apply(lambda x: len(x))

NameError: name 'gen_freq' is not defined